@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Roboto ", sans-serif;
}
nav{
    background-color: rgba(255, 255, 255, 0.418);
    height: 90px;
    color: black;
    display: flex;
    padding: 20px;
}
.icon{
    background-color: blueviolet;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 25px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 90px;
}
.mrkt{
    background-color: white;
    font-size: 40px;
    font-weight: bolder;
    color: black;
    margin-left: 30px;
}
.para{
    width: 40%;
    display: flex;
    margin-left: 200px;
    justify-content: space-between;
    font-size: 25px;
    padding: 12px;
}
nav button{
    background-color: white;
    color: blueviolet;
    font-weight: 600;
    height: 50px;
    width: 200px;
    font-size: 25px;
    margin-left: 200px;
    border-radius: 25px;
    border-color: blueviolet;
}
.center{
    display: flex;
    font-size: 70px;
    height: 90vh;
}
.middlesec{
    width: 40%;
    
}
.middlesec img{
    width: 60%;
    height: 60vh;
    position: relative;
    top: 100px;
    left: 100px;
}
.middle{
    width: 50%;
    padding: 90px;
}
.middle h3{
    margin-top: 20px;
    font-size: 50px;
}
.middle p{
    font-size: 25px;
    color: rgba(0, 0, 0, 0.445);
}
.buttn{
    display: flex;
    justify-content: space-evenly;
}
.buttn button{
    margin-top: 40px;
    background-color: white;
    color: blueviolet;
    font-weight: 600;
    height: 50px;
    width: 200px;
    font-size: 25px;
    border-radius: 25px;
    border-color: blueviolet;
}
.star{
    color: rgb(157, 255, 0);
    font-size: 25px;
}
.two{
    height: 100px;
    color: black;
    display: flex;
    padding: 20px;
}
.middle3{
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    background-color: rgba(14, 3, 24, 0.575);
    width: 77%;
    height: 70px;
    margin-left: 70px;
    padding-top: 15px;
    font-weight: bold;
    border-radius: 25px;
}

